### Importing Libraries

In [1]:
import numpy as np
import pandas as pd

### Importing Dataset

In [2]:
data = pd.read_csv("/Users/geethika/Desktop/heart.csv")
df = data.copy()
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
X = df.drop('target', axis='columns')
y = df.target

X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [4]:
df_norm = data[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak','slope', 'ca', 'thal', 'target']].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
df_norm.sample(n=5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
22,0.270833,1.0,0.000000,0.433962,0.228311,0.0,0.5,0.816794,0.0,0.000000,1.0,0.00,0.666667,1.0
139,0.729167,1.0,0.000000,0.320755,0.312785,0.0,0.5,0.259542,1.0,0.032258,0.5,0.25,1.000000,1.0
132,0.270833,1.0,0.333333,0.245283,0.385845,0.0,0.5,0.694656,0.0,0.000000,1.0,0.00,0.666667,1.0
10,0.520833,1.0,0.000000,0.433962,0.257991,0.0,0.5,0.679389,0.0,0.193548,1.0,0.00,0.666667,1.0
134,0.250000,0.0,0.333333,0.301887,0.410959,0.0,0.5,0.702290,0.0,0.000000,1.0,0.00,0.666667,1.0

In [5]:
df = pd.concat([df_norm, y], axis=1)
df.sample(n=5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,target
106,0.833333,1.0,1.000000,0.622642,0.246575,1.0,0.0,0.458015,0.0,0.016129,0.5,0.25,0.666667,1.0,1
283,0.229167,1.0,0.000000,0.547170,0.221461,0.0,0.5,0.839695,0.0,0.000000,1.0,0.00,1.000000,0.0,0
68,0.312500,1.0,0.333333,0.245283,0.214612,0.0,0.5,0.755725,0.0,0.000000,1.0,0.00,0.666667,1.0,1
212,0.208333,1.0,0.000000,0.226415,0.212329,0.0,0.5,0.526718,0.0,0.193548,0.5,0.00,1.000000,0.0,0
302,0.583333,0.0,0.333333,0.339623,0.251142,0.0,0.0,0.786260,0.0,0.000000,0.5,0.25,0.666667,0.0,0

## SVM Model

In [6]:
class SVM:
    
    def __init__(self, learning_rate=0.001, n_iters=1000, lambda_parameter=0.01):
        self.learning_rate = learning_rate
        self.n_iters = n_iters
        self.lambda_parameter = lambda_parameter
        self.w = None
        self.b = None
        
    def fit(self, X, y):
        
        m, n = X.shape
        self.w = np.zeros(n)
        self.b = 0
        
        self.X = X
        self.y = y
        
        # Implementing Gradient Descent algorithm
        
        for i in range(self.n_iters):
            self.update_weights()
        
        
    # function to update the weight and bias 
    def update_weights(self):
        
        # label encoding
        y_label = np.where(self.y <= 0, -1, 1)
        
        for index, x_i in enumerate(y_label):
            condition = y_label[index] * (np.dot(x_i, self.w) - self.b) >= 1
            
            if all (condition == True):
                
                dw = 2 * self.lambda_parameter * self.w
                db = 0
            else:
                
                dw = 2 * self.lambda_parameter * self.w - np.dot(x_i, y_label[index])
                db = y_label[index]
                
            self.w = self.w - self.learning_rate * dw
            self.b = self.b - self.learning_rate * db
                
    def predict(self, X):
        
        output = np.dot(X, self.w) - self.b
        predicted = np.sign(output)
        
        y_final = np.where(predicted <= -1, 0, 1)
        
        return y_final

### Splitting Dataset into Training and Testing samples

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)
X_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
74,43,0,2,122,213,0,1,165,0,0.2,1,0,2
153,66,0,2,146,278,0,0,152,0,0.0,1,1,2
64,58,1,2,140,211,1,0,165,0,0.0,2,0,2
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2

### Testing Data with Our Model

In [9]:
model = SVM(learning_rate=0.0001, n_iters=2000, lambda_parameter=0.1)
model.fit(X_train,y_train)
pred = model.predict(X_test)
print(f'Values Predicted by our Model:\n {pred}')

Values Predicted by our Model:
 [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

### Function to Calculate Accuracy

In [10]:
def accuracy(y_true, y_pred):
    accuracy = np.sum(y_true == y_pred) / len(y_pred)
    return accuracy

In [11]:
print(f'Accuracy of Our Model = {accuracy(y_test, pred)*100}')

Accuracy of Our Model = 55.73770491803278

### Testing with In-Built Model

In [19]:
from sklearn.svm import SVC
from sklearn.ensemble import BaggingClassifier

from sklearn.svm import SVC

model2 = SVC()

In [20]:
A=model2.fit(X_train, y_train)

In [21]:
pred2 = A.predict(X_test)
print(f'Values Predicted by In-Built Model :\n {pred2}')

Values Predicted by In-Built Model :
 [0 1 1 1 1 1 0 1 0 0 1 1 0 1 1 1 1 1 0 1 1 1 0 0 1 0 1 1 1 1 1 0 1 1 1 0 0
 1 1 1 1 1 1 0 0 0 1 1 1 1 1 0 1 0 1 1 1 1 1 1 0]

In [22]:
print(f'Accuracy of In-Built Model = {accuracy(pred2, y_test)*100}')

Accuracy of In-Built Model = 68.85245901639344